{% extends 'admin/documentation/documentation_layout.html.twig' %}
{% trans_default_domain 'email' %}
{% import 'admin/macros/box_tools.html.twig' as box_tools %}
{% from 'admin/macros/trans_check.html.twig' import trans_check %}

{% block title %}{{ 'dashboard.label_documentation_email'|trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="box box-solid box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'fieldset.label_general'|trans({}, 'admin') }}</h3>
            {{ box_tools.collapse_box_tools }}
        </div>
        <div class="box-body">
            {{ 'smart.email.general_info'|trans|raw }}
        </div>
    </div>

    {% for domain, emails in emails_by_domain %}
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ trans_check('email.domain_' ~ domain, "smart.email.missing_domain", 'email') }}<br>
                    <span class="text-muted">({{ emails|length }} emails)</span>
                </h3>
                {{ box_tools.collapse_box_tools }}
            </div>
            <div class="box-body">
                {% for email in emails %}
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-muted">#{{ email.getCode }}</div>
                            <h4>{{ trans_check(email.getDocumentationTitle, 'smart.email.missing_title', 'email') }}</h4>
                        </div>
                        <div class="col-lg-4">
                            <form class="test-form" method="post">
                                <label for="email_{{ email.getCode }}">Email</label>
                                <input id="email_{{ email.getCode }}" name="email_recipient" type="email" required="required" placeholder="email@example.com">
                                <input type="hidden" name="email_code" value="{{ email.getCode }}" >
                                <button type="submit" class="btn btn-xs btn-default" title="Envoyer">
                                    <i class="fa fa-send"></i>
                                </button>
                                <br>
                                <div class="text-muted">{{ 'smart.email.test_form_help'|trans }}</div>
                            </form>
                        </div>
                    </div>
                    <p>
                        <b>{{ 'smart.email.subject'|trans }}</b> :
                        {{ trans_check(email.getSubject, 'smart.email.missing_subject', 'email') }}
                    </p>
                    {% include email.getHtmlTemplate with { is_email_preview: true } %}
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
